.header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #050505c6;
        backdrop-filter: blur(10px);
        height: 70px;
        padding: 20px 150px;
        gap: 40px;

        @media (max-width: 414px) {
            padding: 20px 50px;
        }

        @media (min-width: 415px), (max-width: 767px) {
            padding: 20px 50px;
        }

        @media (min-width: 768px) {
            padding: 20px 100px;
        }

        @media (min-width: 1140px) {
            padding: 20px 150px;
        }

        span {
            color: $brand-color;
        }
    }
    
    nav {
        .list {
            display: flex;
            flex-direction: row;
            gap: 20px;
            font-size: 14px;

            @media (max-width: 414px) {
                font-size: 8px;
                gap: 14px;
            }

            @media (min-width: 415px), (max-width: 767px) {
                font-size: 10px;
                gap: 16px;
            }

            @media (min-width: 768px) {
                font-size: 12px;
                gap: 18px;
            }

            @media (min-width: 1140px) {
                font-size: 14px;
                gap: 20px;
            }
        }

        .link {
            color: white;
        }
    }
}